{% extends 'mysite/base.html' %}
{% load future %}
  {% block content %}     

<html lang="en">
<head>
  
  
 

<!-- Latest compiled and minified JavaScript -->

{% load staticfiles%}
    <!--    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">-->
    
    <style type="text/css">
        #guildbg{
            background-image:url("../../../static/img/baby.png");
        }
    </style>> 
</head>
 


<body>
	
    <div id="guildbg">
        <h1 id="guildtitle">FACETIVAL</h1>
        <h2 id="guildsubtitle">面對面分享不同的節慶體驗</h2>
        <div id="goto"><button type="button" class="btn btn-default" ><a id="ahref" href="http://festival-rdia0117-2.c9.io/HomePage/">前往FACETIVAL</a></button><button type="button" class="btn btn-default" ><a>註冊</a></button></div>
    </div>
    	
      


{% endblock %}         

  
 
    </body>
</html>


